img{
	padding: 80px;
	background-color: #FFFFFF;
	border: 300px;
	padding-right: 100px;
	padding-left: 50px;
	background-color: #FFFFF5

}
h1{
	padding-top: 45px;
	color: #000000

	}

body{
	background-size: cover;
	border-bottom: 50px;
	background-color: #FFFFF5


}

p{
	font-size: 1.5em;
	line-height: 2em;
	margin-bottom: 1.5em;
}
h2{
	color: #000000;
}
p{
	color: #000000;
}